$primary-color: #c4398c;
$w-color:#ffffff;
$b-color:#000000;

.icon {
  color: $w-color;
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  header{
    background-color: $primary-color;
    .container{
      .container__con{
        display: flex;
        justify-content: space-between;
        color:$w-color;
        .sochial{
          .sochial--ico{
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 2px solid $w-color;
            border-radius: 50%;
            margin: 10px 5px;
            a{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
        }
        .contact{
          margin: 10px 0px;
          .contact--email{
            margin-left: 20px;
          }
          a{
            color: $w-color;
            text-decoration: none;
          }
          
        }
        
        
      }
      
    }
  }
  .nexthed{
    margin:50px 0px;
    
    .container{
      .container--con{
        display: flex;
        justify-content: space-between;
        .container--con--list{
          margin-top: 20px;
          ul{
            li{
              list-style: none;
              display: inline-block;
              margin: 0px 15px;
              font-weight: 600;
              font-size: 20px;
            
              a{
                color: $b-color;
                text-decoration: none;
              }
              
            }
          }
         
        }
        .container--con--logo{
          width: 250px;
          height: 70px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
.slid{
  .slid-content{
    padding: 10px;
    .slid-title{
       
      color: $primary-color;
    }
    .slid-btn{
      background-color: $primary-color;
      color: $w-color;
      border: 0px;
    }
  }
    .btn-ptn{
      width: 50px;
      height: 50px;
      border: 5px solid $primary-color;
      border-radius: 50%;
      position: absolute;
      top: 50%;
    }
    
    
  }
  .about{
    
    margin-top: 50px;
    .container{
      .container--about-text{
        text-align: center;
        .container--about--title{
          font-weight: bold;
          margin-bottom: 20px;
        }
        .container--about--logo{
        img{
          width: 100%;
          height: 100%;
        }
        }
      }
      
      .container--about-card{
        .card-b{
          text-align: end;
          .card-text{
            text-align: right;
          }
          .btn-card{
            margin: 20px 0px;
            border: 0px;
            background-color: $primary-color;
            color: $w-color;
           
          }
        }
        
      }
    }
  }
  .new{
    margin: 70px 0px;
    .con__im{
      background-image: url(../images/backgrounds/seafood-2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .container{

      .container-new-title{
        text-align: center;
        span{
          img{
            width: 100%;
          }
        }
      }
      .container-new-card{
        .line{
          border: 2px solid $primary-color;
        }
        .card--b-s{
          display: flex;
          justify-content: space-between;
          .card-btn{
            border: 0px;
            background-color: $primary-color;
            color:$w-color;
          }
          .card-salary{
            color:$primary-color;
          }
        }
      }
      .nwe-btn{
        text-align: center;
        button{
          margin: 70px 0px;
          background-color: $primary-color;
          color: $w-color;
          border: 0px;
          font-size: 22px;
        }
      }
    }
  }
  footer{
    
    margin-top:100px;
    background-color:$primary-color;
    p{
      margin: 0px;
      padding:10px 0px;
      text-align: center;
      color:$w-color;
    }
  }
  @media (max-width: 575.98px) { 
    .sochial{
      display: none;
    }
    .slid-content{
      display: block !important;
    }
   }